header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 0 10%;
    background-color: var(--base-color);
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-menu {
    display: flex;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--base-color-light);
}

.main-menu > li {
    width: 150px;
    background-color: var(--base-color);
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 3px;
    transition: .5s;
}

.main-menu > li:first-child {
    margin-left: 3px;
}

.main-menu li:hover {
    cursor: pointer;
    background-color: var(--base-color-light);
}

.main-menu a {
    color: white;
    text-decoration: none;
}

.logo {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
}